{% extends "home/header.html" %}

{% block content %}

    <h1>About:</h1>
    <div>
    <p>Hi, my name is Ryan.  I have been an Air Traffic controller for the past 10 years and in the middle I
    decided to pursue a degree in Computer Science, and have since found myself spending most of my free time
    working on software projects.</p>
    </div>
    <h2>Air Traffic Control:</h2>
    <div>
    <p>I spent 3 years as a certified Radar Controller from 2008-2011 at Laughlin AFB, TX.</p>
    </div>
{% endblock %}