{% extends "home/header.html" %}

{% block content %}

    <h2 id="projectheader">Software Projects</h2>

  <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="" alt="" id="radar_image">
    <div class="card-body">
      <h5 class="card-title">Radar Sim and Demo</h5>
      <p class="card-text">This Radar sim was made using Unity Engine and C# as the scripting language.</p>
      <p class="card-text"><a href='/radar_sim/'>Radar Sim and Demo</a></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tower Sim and Demo</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><a href='/tower_sim/'>Tower Sim and Demo</a></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">This Website</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><a href='/this_website/'>Making of this Website</a></p>
    </div>
  </div>
  </div>

    <br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Testing Software</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><a href='/testing/'>Making of Test Software</a></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web Scraping</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><a href='/web_scraping/'>Web Scraping Projects</a></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

{% endblock %}