{% extends "home/header.html" %}

{% block content %}

    <h2 id="projectheader">Software Projects</h2>

    <table id="projecttable">
        <tr id='projectrow'>
            <td id="column1"><a href='/radar_sim/'>Radar Sim and Demo</a></td>
            <td id="column2"><a href='/tower_sim/'>Tower Sim and Demo</a></td>
        </tr>
        <tr id='projectrow1'>
            <td id="column1"><a href='/testing/'>Testing Software</a></td>
            <td id="column2"><a href='/scraping/'>Web Scraping Projects</a></td>
        </tr>
    </table>


{% endblock %}